
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Lé Web Shop</h1>
    </div>

    <aside id="ShoppingCart">
        <header>
            ShoppingCart
        </header>
    </aside>
</body>
</html>
